* text=auto eol=lf
*.md text eol=lf
*.py text eol=lf
*.sv text eol=lf
*.v text eol=lf
*.c text eol=lf
*.h text eol=lf
*.S text eol=lf
*.tcl text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.hex text eol=lf
*.png binary
*.pdf binary
platform/course_soc/** -text
verification/lab3/** -text
sw/startup/lab3/** -text
filelists/lab3_original.f -text
